<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ZenBooks/IdeaProjects/DataArt_Project_TestNG">
        <classes>
            <class name="loginTests.LoginPagePositiveTest">
                <methods>
                    <include name="loginPageTest"/>
                </methods>
            </class>
            <class name="loginTests.LoginPageNegativeTests">
                <methods>
                    <include name="loginPageNegativeTestWithInvalidPassword"/>
                    <include name="loginPageNegativeTestWithInvalidEmail"/>
                    <include name="loginPageNegativeTestEmptyEmailField"/>
                    <include name="loginPageNegativeTestEmptyPasswordField"/>
                    <include name="loginPageNegativeTestEmptyFields"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>